
div.page.collection {

  atom-flexlist-input-text {

    // background-color: white;

    margin: 0.7rem 0 ;

    input:focus {
      outline: none;
      border: 0;
      box-shadow: 0 0 0 ;
      -moz-box-shadow: 0 0 0 ;
      -webkit-box-shadow: 0 0 0 ;
    }

    label.pe-textfield__label {
      top: 4px;
    }

    // .pe-textfield__input-area {
    //   padding: 0 1rem;
    //   // input {
    //   //   padding: 0 1rem ;
    //   // }
    // }

  }

}
