
atom-scroll-y   {
    overflow: overlay;
    overflow-y: auto;
    overflow-x: hidden;
}

atom-section-title {

    height: 5.25rem;
    min-height: 5.25rem;
    padding: 0.8rem 0 0 1rem;
    overflow-y: hidden;

    h2 {
        color: #fff;
        font-family: 'SairaCondensed-Medium';
        font-size: 1.7rem;
    }
    div {
        color: #aaa;
        font-family: 'SairaCondensed-Light';
        font-size: 1rem;
    }

}

atom-flexlist {

    flex-direction: column;
    display: flex;
    // overflow-y: auto;
    // overflow-x: hidden;

    width: 100%;

    & > * {

      background-color: transparent;



    }

    atom-flexlist-text {
        padding: 0.7rem 1rem ;
        border-bottom: 1px solid #ccc;
    }

    atom-flexlist-image {
        padding: 0 ;
        border-bottom: 1px solid #ccc;
    }
    atom-flexlist-entry {
        padding: 0.7rem 1rem ;
        border-bottom: 1px solid #ccc;
    }

    atom-flexlist-menu-entry {

        cursor: pointer;
        padding: 0.7rem 1rem ;
        border-bottom: 1px solid #bbb;

        &:last-of-type {
            border-bottom: 0px solid #ccc;
        }

        &:hover {
            background-color: #0e62993b;
            color: white;
        }
        &.active {
            background-color: darkred;
            color: white;
        }
    }

}

atom-flexlist-header {
    padding: 0.7rem 1rem ;
    border-bottom: 1px solid #ccc;
}

atom-flexlist-link {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.7rem 1rem ;
    border-bottom: 1px solid #ccc;
}
