
// 384px =  24.0rem
// 360px =  22.5rem
// 320px =  20.0rem
//  42px =   2.625rem
//  24px =   1.5rem
//  16px =   1.0rem
//  10px = 	 0.625rem
//   1px =	 0.0625rem
//    f3 =   1.5rem // saim 1.7
//    f4 =   1.25rem
//    f5 =   1.0rem

html, body, #root {
    width:     100%;
    height:    100%;
    font-size: 16px;
    min-width: 320px;
    overflow: hidden;
}

div.layout {
    height: 100%;
    flex-direction: column;
    display: flex;
}

header {
    height: 2.625rem;
    width: 100%;
}

main {
    overflow: hidden;
    height: 100%;
    display: flex;
}

nav {
    height: 2.625rem;
    > label {
        left: 0;
        top: 0;
    }
}

div.page {
    display: block;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: 100%;
}


section.section-left.collapsed {
    min-width: 2.625rem;
    transition: min-width 0.3s ease;
    }
    section.section-left.collapsed div.gm-moves {
        display: none;
    }
    section.section-left.collapsed div.players {
        display: none;
    }
    section.section-left.collapsed i.gm-button {
        padding: 0.50rem 0.65rem;
    }


// BARS
div.board-bar-top,
div.board-bar-bot,
div.gm-bar-flags,
div.gm-bar-buttons {
    height: 2.625rem;
}


// small screen (mobile)
@media only screen and (max-width: 360px) {
    main {
        width: 100vw;
    }
    div.chessboard {
        display: none;
    }
    div.slider {
        position: relative;
        // margin-left: calc(0px - 100vw);
        width: calc(3 * 100vw);
        display: block;
        left: calc(0px - 100vw);
        // flex-direction: row;
    }
    div.slide {
        position: absolute;
        min-width: 100vw;
        width: 100vw;
        height: 100%;
        &.left {
            left: 0;
            z-index: 12;
            background-color: red;
            // background-color: #888;
        }
        &.center {
            left: 0;
            z-index: 10;
            background-color: green;
            // background-color: #888;
        }
        &.right {
            left: 0;
            z-index: 12;
            background-color: blue;
            // background-color: #888;

        }
        &.slide-transition {
            transition-property: transform;
            transition-duration: 400ms;
            // transition-timing-function: cubic-bezier(0.37, 1.08, 0.58, 0.99);
            transition-timing-function: ease-out;
            transition-delay: 0;
            transform: translateX(360px) !important;
            -webkit-transform: translateX(360px) !important;
        }

    }
}

@media only screen and (min-width: 361) and (max-width: 720px) {
    main {
        width: 360px; // was 360px
        margin: 0 auto;
    }
    div.slider {
        position: relative;
        width: 360px;
        overflow: hidden;
    }
    div.chessboard {
        display: none;
    }
    div.slide {
        position: relative;
        min-width: 360px;
        &.left {
            background-color: #888; // red;
        }
        &.center {
            background-color: #888; //  green;
        }
        &.right {
            background-color: #888; // blue;
        }
    }
}



@media only screen and (orientation:portrait) {

    // TODO: add breakpoint for max-width 300px, below game looks broken
    // TODO: ensure board doesn't overflow, but resizes

    // big broad screen (desktop, also with devtools)
    @media only screen and (min-width: 22.5rem) {
        section.section-left {
            max-width: 22.5rem;
            min-width: 22.5rem;
            width: 22.5rem;
            transition: width 0.3s ease;
        }
        section.section-center {
            width:  calc(100vw - 22.5rem);
        }
        div.chessboard {
            width:  calc(100vw - 22.5rem);
            height: calc(100vw - 22.5rem);
        }
    }

    // small screen (mobile)
    @media only screen and (max-width: 22.5rem) {
        section.section-left,
        section.section-center {
            min-width: 100vw;
        }
        div.chessboard {
            width:  100vw;
            height: 100vw;
        }
    }

    // show hamburger
    nav {
        height: auto;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        display: block;
    }
    nav input:checked + ul {
        width: 22.5rem;
        top: 40px;
        display: block;
    }

}

@media only screen and (orientation:landscape) {

    section.section-left {
        max-width: 22.5rem;
        min-width: 22.5rem;
        width: 22.5rem;
    }
    section.section-center {
        min-width: calc(100vh - 126px);
    }
    div.chessboard {
        width:  calc(100vh - 126px);
        height: calc(100vh - 126px);
    }
    // hide menu
    nav label,
    nav div.home,
    nav input {
        display: none
    }
    nav ul li {
        display: inline-block;
    }
}
