.json-tree div {
    margin-left: 20px;
}

.json-tree button {
    // font-size: 100%;
    margin: 0px 4px;
    border: 1px solid orange;
    min-width: 20px;
    min-height: 16px;
    cursor: pointer;
    // vertical-align: baseline;
    font-weight: 800;
    background-color: white;
    padding-bottom: 2px;
}
