
/*
.section
    .gm-bar
        .gm-bar-buttons
            .gm-button ...
        .gm-bar-progress
            .gm-progress
    .gm-players
    .gm-moves
        tr.gm-move ...
        td.gm-move-space
        td.gm-move-num
        td.gm-ply-piece
        td.gm-ply-san
        td.gm-ply-val
            div.gm-play-mate
            div.gm-play-bar
        td.gm-ply-piece
        td.gm-ply-san
        td.gm-ply-val
        td.gm-move-space

    .gm-bar
        .gm-bar-flags
            .gm-flag ...
    .gm-result
*/

div.gm-bar {
    height: 2.625rem;  //42px
    text-align: center;
}

div.gm-bar-progress {
    width: 100%;
    height: 4px;
}

div.gm-progress {
    width: 0;
    height: 100%;
    background-color: #4a8;
}

div.gm-moves {
    // margin: 0.5rem 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #8888;
}
span.gm-move {
    display: inline-block;
}
.gm-move {
    cursor: pointer;
}

.gm-move:hover {
    background-color: #a78e8e;
}

td.gm-move-space {
    width: 1rem;
}
td.gm-move-num,
span.gm-move-num {
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem; //f5
    font-weight: 800;
    text-align: right;
    color: #555;
}
span.gm-move-num {
    font-size: 0.9rem;
}
.gm-move-num:after {
    content: '.';
}

.gm-ply-pic-w {
    font-family: 'Chess';
    font-size: 1.25rem;
    text-align: center;
    padding: 0;
    color: #eee;
}
span.gm-ply-pic-w {
    font-size: 0.9rem;
    padding-left: 2px;
}

.gm-ply-pic-b {
    font-family: 'Chess';
    font-size: 1.25rem;
    text-align: center;
    padding: 0;
    color: #333;
}
span.gm-ply-pic-b {
    font-size: 0.9rem;
    padding-left: 2px;
}

.gm-ply-san-w {
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem;
    text-align: left;
    color: #eee;
}
span.gm-ply-san-w {
    font-size: 0.9rem;
}

.gm-ply-san-b {
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem;
    text-align: left;
    color: #333;
}
span.gm-ply-san-b {
    font-size: 0.9rem;
}

.gm-ply-val-w {
    font-size: 0.5rem;
    min-width: 20px
}
.gm-ply-val-b {
    font-size: 0.5rem;
    min-width: 20px
}

/* GAME FLAGS */
div.gm-flag {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin: 0.4rem;
    padding-top: 5px;
}
i.gm-flag {
    margin: 0.5rem;
    background-color: transparent;
    vertical-align: top;
    font-size: 1.3rem;
}

/* GAME BUTTONS */
div.gm-buttons {
    width: 100%;
    height: 100%;
    text-align: center;
}

i.gm-button.enabled:hover {
    color: #fff;
    background-color: #a78e8e;
}
i.gm-button,
i.gm-spinner {
    padding: 0.8rem 0.3rem 0.55rem 0.3rem;
    font-size: 1.3rem;
}
i.gm-button {
    cursor: pointer;
    width: 1.5rem;
}
// i.gm-button.dn,
// i.gm-spinner.dn {
//     display: none;
// }


div.game-entry {
    padding: 0.125rem 1rem ;
    margin: 0.4rem 0;
    background-color: transparent;
    cursor: pointer;
}
div.game-entry:hover {
    background-color: #0e62993b;
    color: white;
    transition: background-color 0.2s ease;
}
div.game-line1 {
    font-family: 'SairaCondensed-Regular';
    color: #eee;
    font-size: 1.4rem;
}
div.game-line2 {
    font-family: 'Iosevka-Term-Medium';
    color: #333;
    margin: 0.125rem 0;
}
div.game-line3 {
    font-family: 'Iosevka-Term-Regular';
    color: #ccc;
}
