
/*
.section
    .gm-bar
        .gm-bar-buttons
            .gm-button ...
        .gm-bar-progress
            .gm-progress
    .gm-players
    .gm-moves
        tr.gm-move ...
        td.gm-move-space
        td.gm-move-num
        td.gm-ply-piece
        td.gm-ply-san
        td.gm-ply-val
            div.gm-play-mate
            div.gm-play-bar
        td.gm-ply-piece
        td.gm-ply-san
        td.gm-ply-val
        td.gm-move-space

    .gm-bar
        .gm-bar-flags
            .gm-flag ...
    .gm-result
*/

div.gm-bar {
    height: 2.625rem;  //42px
    background-color:rgba(0, 0, 0, 0.20);
    // padding-top: 5px;
    text-align: center;
}

div.gm-bar-progress {
    width: 100%;
    height: 4px;
}

div.gm-progress {
    width: 0;
    height: 100%;
    background-color: #4a8;
}

div.gm-moves {
    margin: 0.5rem 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
tr.gm-move {
    cursor: pointer;
}
tr.gm-move:hover {
    background-color: #a78e8e;
}

td.gm-move-space {
    width: 1rem;
}
td.gm-move-num {
    text-align: right;
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem; //f5
    font-weight: 800;
    color: #555;
}
.gm-move-num:after {
    content: '.';
}

td.gm-ply-pic-w {
    // td.tc.f4.pa0.chess
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    font-family: 'Chess';
    color: #eee;
}
td.gm-ply-pic-b {
    // td.tc.f4.pa0.chess
    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    font-family: 'Chess';
    color: #333;
}

td.gm-ply-san-w {
    // td.tl.fiom.f5
    text-align: left;
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem;
    color: #eee;
}
td.gm-ply-san-b {
    // td.tl.fiom.f5
    text-align: left;
    font-family: 'Iosevka-Term-Medium';
    font-size: 1rem;
    color: #333;
}

td.gm-ply-val-w {
    // td.f6
    font-size: 0.5rem;
    min-width: 20px
}


td.gm-ply-val-b {
    // td.f6
    font-size: 0.5rem;
    min-width: 20px
}

// tr.fiom.f5.fw8.c555

/* GAME FLAGS */
// div.gm-flags {
//     text-align: center;
// }
div.gm-flag {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin: 0.4rem;
    padding-top: 5px;
}
i.gm-flag {
    margin: 0.5rem;
    background-color: transparent;
    vertical-align: top;
}

/* GAME BUTTONS */
div.gm-buttons {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

i.gm-button:hover {
    color: #000;
    background-color: #a78e8e;
}
i.gm-button,
i.gm-spinner {
    color: #ddd;
    padding: 0.8rem 0.3rem 0.55rem 0.3rem;
    font-size: 1.3rem;
}
i.gm-button {
    cursor: pointer;
    width: 1.5rem;
}
i.gm-button.dn,
i.gm-spinner.dn {
    display: none;
}


div.game-entry {
    padding: 0.125rem 1rem ;
    margin: 0.25rem 0;
    background-color: transparent;
    cursor: pointer;
}
div.game-entry:hover {
    background-color: #89b;
    color: white;
    transition: background-color 0.2s ease;
}
div.game-line1 {
    font-family: 'Iosevka-Term-Medium';
    color: #333
}
div.game-line2 {
    font-family: 'Iosevka-Term-Medium';
    color: #ddd;
    margin: 0.125rem 0;
}
div.game-line3 {
    font-family: 'Iosevka-Term-Regular';
    color: #ddd;
}
